USE [master]
GO
/****** Object:  Database [ABSA]    Script Date: 2022/02/08 16:09:20 ******/
CREATE DATABASE [ABSA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ABSA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ABSA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ABSA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ABSA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ABSA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ABSA]
GO
/****** Object:  Table [dbo].[Entries]    Script Date: 2022/02/08 16:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entries](
	[PhoneEntryId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[PhonebookId] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Entries] PRIMARY KEY CLUSTERED 
(
	[PhoneEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phonebooks]    Script Date: 2022/02/08 16:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phonebooks](
	[PhoneBookId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[BookName] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Phonebooks] PRIMARY KEY CLUSTERED 
(
	[PhoneBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Entries] ([PhoneEntryId], [Name], [PhoneNumber], [PhonebookId], [Active], [CreatedDate], [TimeStamp]) VALUES (N'37c0d503-91cf-4865-aee7-124a973ccb1d', N'Segodi', N'0828378741', N'3fa85f64-5717-4562-b3fc-2c963f66afa6', 1, CAST(N'2022-01-27T17:38:51.733' AS DateTime), CAST(N'2022-01-27T17:38:51.733' AS DateTime))
INSERT [dbo].[Entries] ([PhoneEntryId], [Name], [PhoneNumber], [PhonebookId], [Active], [CreatedDate], [TimeStamp]) VALUES (N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'Kagiso', N'065 868 8810', N'3fa85f64-5717-4562-b3fc-2c963f66afa6', 1, CAST(N'2022-01-27T14:56:54.720' AS DateTime), CAST(N'2022-01-27T14:56:54.720' AS DateTime))
INSERT [dbo].[Phonebooks] ([PhoneBookId], [BookName], [Active], [CreatedDate], [TimeStamp]) VALUES (N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'Test_Book', 1, CAST(N'2022-01-27T14:55:35.030' AS DateTime), CAST(N'2022-01-27T14:55:35.030' AS DateTime))
ALTER TABLE [dbo].[Entries] ADD  CONSTRAINT [DF_Entries_PhoneEntryId]  DEFAULT (newid()) FOR [PhoneEntryId]
GO
ALTER TABLE [dbo].[Entries] ADD  CONSTRAINT [DF_Entries_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Entries] ADD  CONSTRAINT [DF_Entries_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Entries] ADD  CONSTRAINT [DF_Entries_TimeStamp]  DEFAULT (getdate()) FOR [TimeStamp]
GO
ALTER TABLE [dbo].[Phonebooks] ADD  CONSTRAINT [DF_Phonebooks_PhoneBookId]  DEFAULT (newid()) FOR [PhoneBookId]
GO
ALTER TABLE [dbo].[Phonebooks] ADD  CONSTRAINT [DF_Phonebooks_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Phonebooks] ADD  CONSTRAINT [DF_Phonebooks_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Phonebooks] ADD  CONSTRAINT [DF_Phonebooks_TimeStamp]  DEFAULT (getdate()) FOR [TimeStamp]
GO
ALTER TABLE [dbo].[Entries]  WITH CHECK ADD  CONSTRAINT [FK_Entries_Phonebooks] FOREIGN KEY([PhonebookId])
REFERENCES [dbo].[Phonebooks] ([PhoneBookId])
GO
ALTER TABLE [dbo].[Entries] CHECK CONSTRAINT [FK_Entries_Phonebooks]
GO
USE [master]
GO
