<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand">New Phonebook</a>
        </div>
    </nav>
</header>

<div class="container">
    <div mat-dialog-content>
        <p>Phonebook Name</p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="data.phonebookName">
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button mat-raised-button (click)="onNoClick()">Close</button>
        <button mat-button mat-raised-button color="primary" [mat-dialog-close]="data.phonebookName" cdkFocusInitial>Add</button>
      </div>
</div>